src/main/resources/LoanEligibilityService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/LoanEligibilityService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoanEligibilityService" targetNamespace="http://www.example.org/LoanEligibilityService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/LoanEligibilityService/">
      <xsd:element name="NewOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NewOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getLoanEligibility" type="tns:LoanRequest"></xsd:element>
      <xsd:element name="getLoanEligibilityResponse"
      	type="tns:LoanResponse">
      </xsd:element>
      
            <xsd:complexType name="LoanRequest">
            	<xsd:sequence>
            		<xsd:element name="Amount" type="xsd:double"></xsd:element>
            		<xsd:element name="tenure" type="xsd:int"></xsd:element>
            		<xsd:element name="dob" type="xsd:date"></xsd:element>
            		<xsd:element name="gender" type="xsd:string"></xsd:element>
            		<xsd:element name="annualSalary" type="xsd:double"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    
            <xsd:complexType name="LoanResponse">
            	<xsd:sequence>
            		<xsd:element name="eligibilityCode"
            			type="xsd:string">
            		</xsd:element>
            		<xsd:element name="eligibilityMessage" type="xsd:string"></xsd:element>
            	</xsd:sequence>
            </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="NewOperationRequest">
    <wsdl:part element="tns:getLoanEligibility" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NewOperationResponse">
    <wsdl:part element="tns:getLoanEligibilityResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="LoanEligibilityService">
    <wsdl:operation name="NewOperation">
      <wsdl:input message="tns:NewOperationRequest"/>
      <wsdl:output message="tns:NewOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LoanEligibilityServiceSOAP"
  	type="tns:LoanEligibilityService">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="NewOperation">
  		<soap:operation
  			soapAction="http://www.example.org/LoanEligibilityService/NewOperation" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoanEligibilityService">
    <wsdl:port binding="tns:LoanEligibilityServiceSOAP" name="LoanEligibilityServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
